#header{animation:headerFade 0.5s;}
/* <div id='header'> <div id='headerBkg'></div><div id='headerBar'><div id='hbContent'><img id='headerLogo' src='https://gcparksandresorts.github.io/careawayresort/files/images/careawayresort-logo.png'></div></div> </div> */
@keyframes headerFade{
	from{opacity:0;}
	to{opacity:1;}
}
	#header #headerBkg{
  		width:100%; margin:0; height:80px; background:black; margin-top:-80px;
  	}

	#headerBar{
	  	position:fixed;
		top:0; left:0; right:0;
	   	z-index:999;
	   	background:linear-gradient(90deg,rgba(25, 25, 112,0.95),rgba(0, 0, 139,0.95),rgba(25, 25, 112,0.95));
	   	height:80px;
	   	text-align:center;
	}
	  #headerBar #hbContent{
	  	display:flex; margin: 0 auto 0 auto;
	    max-width:1200px;
	  }
  
	  #headerBar #hbContent #headerLogo{
	    height:70px; margin-top:5px;
	    cursor:pointer;
	  }

		#hbLinks{
        	margin:auto 10px auto auto;
            	color:white;
            	display:flex;
        }
	        #hbLinks a{
	        	font-size:18px; text-decoration:none;
	            	display:flex;
	            	margin:0 5px 0 5px;
			font-weight:bold;
			transition:0.5s;
			align-self:stretch;
			align-items: center;
			padding:10px;
			animation:headerFade 0.4s;
	        }
	        #hbLinks a:hover{
	        	background:white; color:midnightblue;
	            	border-radius:10px; cursor:pointer;
	        }
		#hbLinks a.isSelected{background:white; color:midnightblue; border-radius:10px; text-decoration:underline;}
	        @media screen and (max-width:1100px){
	        	 #hbLinks a.miniMen{
	             		font-size:30px; cursor:pointer;
	             	}
			#hbLinks a.bigMen{
				display:none;
			}
	        }
		@media screen and (min-width:1101px){
	        	 #hbLinks a.bigMen{
	             	 	display:flex;
	             	}
			 #hbLinks a.miniMen{
	             		display:none;
	             	}
	        }
  
  #footer{
  	margin:30px 0 0 0; width:100%;
    	background:midnightBlue;
    	text-align:center;
  }
/* <div id='footer'><img id='footerLogo' src='https://gcparksandresorts.github.io/careawayresort/files/images/careawayresort-logo-white.png'></div> */
  	#footer #footerLogo{
	    	width:100%; height:auto;
	        margin:0px auto 0px auto;
    	}
	#footer #footerLinks{
		width:100%; margin:0px auto 0px auto; max-width:1200px; padding:10px;
		display:flex; flex-flow:row; align-items:stretch; justify-content:left; flex-wrap:wrap;
	}
	#footer #footerLinks div{
		color:white; text-align:left;
		width:20%; padding:10px; min-width:200px;
	}
		#footer #footerLinks div a{
			text-decoration:none; display:block; margin:0px 0px 16px 0px;
			line-height:1.2;
		}
		#footer #footerLinks div a:hover{
			color:white; text-decoration:underline;
		}

	@media screen and (max-width:500px){
		#footer #footerLinks{flex-flow:column;}
		#footer #footerLinks div {width:100%; text-align:center;}
		#footer #footerLogo{width:70%;}
	}

#loader{
	position:absolute; top:0; left:0; right:0; bottom:0;
	background:linear-gradient(45deg, gray, silver, gray);
	display:flex; align-items:center; justify-content:center; flex-flow:column;
	z-index:998;
}
    	#loader img{
        	width:200px; height:auto;
           	animation:ldAnim 1s ease-in-out infinite alternate;
        }
        #loader h2 {color:midnightblue;}
        @keyframes ldAnim{
        	from{scale:1;}
            	to{scale:1.1;}
        }



/* MINI MENU FOR MOBILE SCREENS */
#hbSideMenu{
        position:fixed;
        top:80px; right:0; bottom:0;
        background:lightGray; border-left:5px solid gray;
        padding:10px;
        color:midnightblue;
        overflow-y:auto;
	width:300px;
	z-index:997;
	/* properties to hide or show menu and animate its movement */
	right:-300px; transition:1s;
}
	#hbSideMenu.open{ right:0px;}

        #hbSideMenu a{
        	display:block; margin:15px 10px 15px 10px;
            	font-size:18px;
            	color:inherit; font-weight:bold; text-decoration:none;
            	transition:all 0.5s; cursor:pointer;
        }
        #hbSideMenu a:hover{
        	scale:1.05;
        }
        #hbSideMenu a.btn:hover{
        	color:white;
        }
        #hbSideMenu .hbSMsubMen{
        	margin-left:20px; 
            	font-size:15px; color:dimgray;
		transition:0.5s; display:none; opacity:0;
        }
		#hbSideMenu .hbSMsubMen.open{display:block; opacity:1;}

	/* div used to close the side menu */
	#hbSideMenuCloser{
		position:fixed; top:80px; left:0; right:0; bottom:0;
		background:black; opacity:0.3; cursor:pointer;
		z-index:996; display:none;
	}
		#hbSideMenuCloser.open{display:block;}

/* -- HEADER BAR MENU (DESKTOP SCREEN) -- */
#header .barMenu{
	position:fixed; z-index:997;
	top:80px; right: 50%;
	width:100%; max-width:1200px; margin:auto;
	background:silver; border:2px solid midnightblue; border-top:none; border-radius:0px 0px 15px 15px;
	            
	display:flex; padding:10px 10px 10px 10px;
	            
	/* Animated element */
	transition:0.5s; transform: translate(50%, -100%); opacity:0;
}
        #header .barMenu.open{
        	transform: translate(50%, 0); opacity:1;
        }

	/* THINGS TO DO MENU STYLES */
	#header .barMenu > #leftSection {
		width:25%;
		padding-top:20px; padding-bottom:20px;
	}
		#header .barMenu > #leftSection a {
			display:block; margin-bottom:10px;
			cursor:pointer; transition:0.5s;
			font-size:18px; text-decoration:none;
		}
        	#header .barMenu > #leftSection a:hover {color:midnightblue; scale:1.025;}
        	#header .barMenu > #leftSection h4 {margin:0 0 10px 0;}

	#header .barMenu > #rightSection {
		display:flex; flex-flow:row; width:75%;
		padding-top:20px; padding-bottom:20px;
		min-height:200px;
	}
    		#header .barMenu > #rightSection > div {
			position:relative; width:18%; margin:auto;
			align-self:stretch; background:midnightblue;
			height:100%; border-radius:15px; overflow:hidden;
			display:flex; align-items:center; justify-content:center;
			color:white; padding:10px; flex-flow:column;
			transition:0.5s;
		}
			#header .barMenu > #rightSection > div .rsIcon {position:absolute; width:70%; top:10px; transition:0.8s;}
			#header .barMenu > #rightSection > div .rsBackground {position:absolute; top:0; bottom:0; left:0; right:0; object-fit:cover; width:100%; height:100%; filter:brightness(0.65);}
			#header .barMenu > #rightSection > div .rsHider {position:absolute; top:0; bottom:0; right:0; left:0; background:dimgray; transition:0.5s;}
			#header .barMenu > #rightSection > div h4 {
				position:absolute; bottom:0; color:white;
				transition:0.8s; text-align:center;
			}
			#header .barMenu > #rightSection > div a {opacity:0; position:absolute; top:0; right:0; left:0; bottom:0; cursor:pointer;}

		#header .barMenu > #rightSection > div:hover {scale:1.025;}
			#header .barMenu > #rightSection > div:hover .rsHider{
				bottom:100%;
			}
			#header .barMenu > #rightSection > div:hover h4 {bottom:50%;}
			#header .barMenu > #rightSection > div:hover .rsIcon {top:-100%;}

	#header .barMenu > .evenSection {
		width:auto; margin:0; padding:10px; padding-right:20px;
	}
		#header .barMenu > .evenSection > a {
			display:block; margin-bottom:10px;
			cursor:pointer; transition:0.5s;
			font-size:18px; text-decoration:none;
		}
		#header .barMenu > .evenSection > a:hover {scale:1.025; color:midnightblue;}
		#header .barMenu > .evenSection > h4 {margin:0 0 10px 0;}
