#header{animation:headerFade 0.5s;}
/* <div id='header'> <div id='headerBkg'></div><div id='headerBar'><div id='hbContent'><img id='headerLogo' src='https://gcparksandresorts.github.io/careawayresort/files/images/careawayresort-logo.png'></div></div> </div> */
@keyframes headerFade{
	from{opacity:0;}
	to{opacity:1;}
}
	#header #headerBkg{
  		width:100%; margin:0; height:100px; background:black; margin-top:-100px;
  	}

	#headerBar{
	  	position:fixed;
		top:0; left:0; right:0;
	   	z-index:999;
	   	background:linear-gradient(90deg,rgba(25, 25, 112,0.95),rgba(0, 0, 139,0.95),rgba(25, 25, 112,0.95));
	   	height:100px;
	   	text-align:center;
	}
	  #headerBar #hbContent{
	  	display:flex; margin: 0 auto 0 auto;
	    max-width:1200px;
	  }
  
	  #headerBar #hbContent #headerLogo{
	    height:90px; margin-top:5px;
	    cursor:pointer;
	  }
  
  #footer{
  	margin:30px 0 0 0; width:100%;
    background:midnightBlue;
    text-align:center;
  }
/* <div id='footer'><img id='footerLogo' src='https://gcparksandresorts.github.io/careawayresort/files/images/careawayresort-logo-white.png'></div> */
  	#footer #footerLogo{
    	height:60px; width:auto;
        margin: 20px auto 20px auto;
    }

#loader{
	position:absolute; top:0; left:0; right:0; bottom:0;
	background:linear-gradient(45deg, gray, silver, gray);
	display:flex; align-items:center; justify-content:center; flex-flow:column;
}
    	#loader img{
        	width:200px; height:auto;
           	animation:ldAnim 1s ease-in-out infinite alternate;
        }
        #loader h2 {color:midnightblue;}
        @keyframes ldAnim{
        	from{scale:1;}
            	to{scale:1.1;}
        }
