#header{animation:headerFade 0.5s;}
/* <div id='header'> <div id='headerBkg'></div><div id='headerBar'><div id='hbContent'><img id='headerLogo' src='https://gcparksandresorts.github.io/careawayresort/files/images/careawayresort-logo.png'></div></div> </div> */
@keyframes headerFade{
	from{opacity:0;}
	to{opacity:1;}
}
	#header #headerBkg{
  		width:100%; margin:0; height:100px; background:black; margin-top:-100px;
  	}

	#headerBar{
	  	position:fixed;
		top:0; left:0; right:0;
	   	z-index:999;
	   	background:linear-gradient(90deg,rgba(25, 25, 112,0.95),rgba(0, 0, 139,0.95),rgba(25, 25, 112,0.95));
	   	height:100px;
	   	text-align:center;
	}
	  #headerBar #hbContent{
	  	display:flex; margin: 0 auto 0 auto;
	    max-width:1200px;
	  }
  
	  #headerBar #hbContent #headerLogo{
	    height:90px; margin-top:5px;
	    cursor:pointer;
	  }

		#hbLinks{
        	margin:auto 10px auto auto;
            	color:white;
            	display:flex;
        }
	        #hbLinks a{
	        	font-size:18px;
	            display:flex;
	            margin:0 5px 0 5px;
	            font-weight:bold;
	            transition:0.5s;
	            align-self:stretch;
	            align-items: center;
	            padding:10px;
			animation:headerFade 0.4s;
	        }
	        #hbLinks a:hover{
	        	background:white; color:midnightblue;
	            border-radius:10px;
	        }
	        @media screen and (max-width:1000px){
	        	 #hbLinks a.miniMen{
	             		font-size:30px; cursor:pointer;
	             	}
			#hbLinks a.bigMen{
				display:none;
			}
	        }
		@media screen and (min-width:1001px){
	        	 #hbLinks a.bigMen{
	             	 	display:flex;
	             	}
			 #hbLinks a.miniMen{
	             		display:none;
	             	}
	        }
  
  #footer{
  	margin:30px 0 0 0; width:100%;
    background:midnightBlue;
    text-align:center;
  }
/* <div id='footer'><img id='footerLogo' src='https://gcparksandresorts.github.io/careawayresort/files/images/careawayresort-logo-white.png'></div> */
  	#footer #footerLogo{
    	height:60px; width:auto;
        margin: 20px auto 20px auto;
    }

#loader{
	position:absolute; top:0; left:0; right:0; bottom:0;
	background:linear-gradient(45deg, gray, silver, gray);
	display:flex; align-items:center; justify-content:center; flex-flow:column;
	z-index:998;
}
    	#loader img{
        	width:200px; height:auto;
           	animation:ldAnim 1s ease-in-out infinite alternate;
        }
        #loader h2 {color:midnightblue;}
        @keyframes ldAnim{
        	from{scale:1;}
            	to{scale:1.1;}
        }



/* MINI MENU FOR MOBILE SCREENS */
#hbSideMenu{
        position:fixed;
        top:100px; right:0; bottom:0;
        animation:openMenu 1s;
        background:lightGray; border-left:5px solid gray;
        padding:10px;
        display:none;
        color:midnightblue;
        overflow-y:auto;
	width:350px;
	z-index:997;
}
        @keyframes openMenu{
        	from{right:-350px; overflow-x:hidden;}
           	to{right:0px;}
        }
        #hbSideMenu a{
        	display:block; margin:15px 10px 15px 10px;
            	font-size:18px;
            	color:inherit; font-weight:bold;
            	transition:0.5s; cursor:pointer;
        }
        #hbSideMenu a:hover{
        	scale:1.05;
        }
        #hbSideMenu a.btn:hover{
        	color:white;
        }
        #hbSideMenu #hbIntd1, #hbSideMenu #hbIntd2, #hbSideMenu #hbIntd3{
        	margin-left:20px; animation:headerFade 0.6s;
            	font-size:15px; color:dimgray;
            	display:none;
        }
/*
	#hbSideMenu #smCloser{
		position:fixed; top:100; left:0; right:0; bottom:0;
		background:black; opacity:0.6;
		animation:headerFade 1s;
		z-index:996;
	}
*/
