* {  box-sizing: border-box; } html { scroll-behavior: smooth; }

body{ 
	    font-size:16px; line-height:1.6;
	    font-family: 'Funnel Sans',veranda;
	    margin:0; margin-top:80px;
} /* --End of Body -- */

h1,h2,h3 {
	font-family: 'Lexend Deca',veranda;
}
h4{font-family: 'Lexend Deca',veranda; font-size:16px;}

/* ------ PAGE CONTENT ELEMENTS ----------------- */
.banner{position:relative; width:100%; margin:0; height:33vh;}
	.banner.full {height:calc(100vh - 100px);}
	.banner img{width:100%; height:100%; object-fit:cover;}
	.backgroundContainer{ 
		/* Creates a fixed image in the banner that won't move with page scroll. Insert this into the banner: 
			<div class='backgroundContainer' style='background-image:url("XXX");'></div> 
		*/
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		height:100%; width:100%;
	}

.container, .leftContainer {margin:auto; padding:55px 10px 55px 10px; width:100%; display:block; max-width:1200px; text-align:center;}

	.leftContainer{text-align:left;}

	.container.filled, .leftContainer.filled {
		background:silver; border-radius:20px; padding:10px 10px 10px 10px; margin:55px auto 55px auto;
	}
		.container.filled.blue, .leftContainer.filled.blue {background:midnightblue; color:white;}

	@media screen and (max-width:1200px){
		.container.filled, .leftContainer.filled {border-radius:0px;}
	}

.fullContainer{
	background:silver; color:black; 
	width:100%; margin:0; position:relative; padding:20px 0px 20px 0px;
 }
	.fullContainer.blue{
		background:midnightblue;
		color:white;
        }
		.fullContainer.blue a.btn{
			border:solid 2px white; color:white;
		}
		.fullContainer.blue a.btn:hover{background:white; color:midnightblue;}

.columnContainer{
	width:100%; display:flex;
	flex-flow:row; padding:0px;
}
    	.columnContainer > img{
		width:40%; align-self:flex-start;
		border-radius:15px;
		max-height:400px; object-fit:cover;
	}
		.columnContainer.cBanner > img {width:50%; align-self:stretch;}
		.columnContainer.dImg > img{align-self:stretch;}
    	.columnContainer > div{
		text-align:left; padding:0px 10px 0 10px;
		align-self:flex-start;
	}
	@media screen and (min-width:501px){
		.columnContainer:has(img:first-child) > div {
		    padding-left: 20px; /* Add padding-left when img is the first child */
		}
		
		.columnContainer:has(div:first-child) > div {
		    padding-right: 20px; /* Add padding-right when img is not the first child */
		}
	}
	
	@media screen and (max-width:500px){
		.columnContainer{ flex-flow:column; }
		.columnContainer > img, .columnContainer.cBanner > img { width:100%; margin:10px auto 10px auto; }
		.columnContainer > div { width:100%; margin:10px auto 10px auto; }
	}


.tileContainer{
        display:flex; flex-flow:row; justify-content:center; align-items:flex-start;
        width:100%; margin:0; padding:0; flex-wrap:wrap;
}
	.tileContainer > div {padding:10px 20px 10px 20px; width:33%; margin:10px 0 10px 0; min-width:250px;}
        	@media screen and (max-width:700px){.tileContainer > div {width:50%; padding:10px 15px 10px 15px; min-width:200px;}}
        	@media screen and (max-width:450px){.tileContainer > div {width:100%; padding:10px;}}
        	.tileContainer > div > img {width:100%; border-radius:15px; height:200px; object-fit:cover; margin-bottom:5px; transition:0.5s;}
        	.tileContainer > div > h3,  .tileContainer > div > h4 {margin-top:0px; margin-bottom:5px;}

		.tileContainer > div.linked {cursor:pointer; position:relative;}
		.tileContainer > div.linked:hover > img {scale:1.05;}
		.tileContainer > div.linked > a {opacity:0; position:absolute; top:0; right:0; left:0; bottom:0;}

/* --- Titles and stuff ----- */
.titleBar{width:100%; padding:10px; color:white; background:midnightblue; color:white; text-align:center;}
	.titleBar.left{text-align:left;} .titleBar.silver{background:silver; color:black;}
	.titleBar p, .titleBar h1, .titleBar h2, .titleBar h3{width:100%; max-width:1200px; margin-left:auto; margin-right:auto;}
	.titleBar img{
		display:block; width:95%; max-width:300px; height:auto; margin:auto;
	}
	.topBoundExtend{ 
		/* Creates a 60px gradient above the titlebar to fade into it. Usage: 
			<div class='titleBar'> <div class='topBoundExtend'></div> -titlebar_content- </div> 
		*/
		position:absolute; top:-60px; left:0px; right:0px;
		height:60px; background:linear-gradient(rgba(25, 25, 112,0),rgba(25, 25, 112,0.2),rgba(25, 25, 112,1));
	} 

.spacer{width:100%; height:2px; background:gray; border-radius:1px; max-width:1200px; margin:10px auto 10px auto;}
	.spacer.light{background:silver;}
	.spacer.dark{background:dimgray;}
	.spacer.thick{margin:55px auto 55px auto;}

/* -- UI Elements -- */

a{color:inherit; }

a.btn{
	padding:10px; margin:10px; border:solid 2px midnightblue; border-radius:10px;
	transition:0.5s; cursor:pointer; color:midnightBlue; text-decoration:none; display:inline-block;
}
	a.btn:hover{background:midnightblue; color:white;}

	a.btn.filled{
		border:solid 2px white; color:white; background:midnightBlue;
	}
	a.btn.filled:hover{background:white; color:midnightBlue;}


.rowDiv {
	display:flex;  flex-flow:row;
	padding:20px 10px 20px 10px;
	width:100%; max-width:900px; margin:auto;
	transition:0.5s;  border-radius:15px;
	position:relative;
}
		.rowDiv:hover {background:lightgray;}
	.rowDiv > img {
		width:40%; align-self:stretch; transition:0.5s; border-radius:15px;
	}
		.rowDiv:hover > img {scale:1.05;}
	.rowDiv > div {
		width:100%; padding-left:20px; text-align:left;
	}
   		.rowDiv > a {opacity:0; position:absolute; top:0; left:0; right:0; bottom:0; cursor:pointer;}
		
	@media screen and (max-width:600px){
		.rowDiv{flex-flow:column;}
		.rowDiv > img {width:100%;}
		.rowDiv > div {padding:20px 0px 0px 0px;}
	}


/* --- SPECIAL ELEMENTS --- */

/* Image Slideshow with cross-disolve animation */
.slideShowElement{
	position:absolute; top:0; left:0;
	opacity:0; transition:1s;
}
	.slideShowElement.show{
		opacity:1;
	}

	/* CODE FOR SLIDESHOW ELEMENT (paste into a script section at the bottom of the page) :

		let slideIndex = 0;
		showSlides();
			
		function showSlides() {
			  let i;
			  let slides = document.getElementsByClassName("slideShowElement");
				for (i = 0; i < slides.length; i++) {
		   		 slides[i].classList.remove("show");
				}
			  slideIndex++;
			  if (slideIndex > slides.length) {slideIndex = 1}
			  slides[slideIndex-1].classList.add("show");
			  setTimeout(showSlides, 3000); // Change image every 2 seconds
		} // End of slideshow controller

	*/

/* -- An image gallery that the user can click through -- */
#galleryContainer {position:relative; width:100%; aspect-ratio:3/2; margin:0; padding:0;}
	#galleryContainer > div {transition:0.5s; opacity:0; position:absolute; top:0; right:0; left:0; bottom:0;}
		#galleryContainer > div.isOn {opacity:1;}
		#galleryContainer > div > img {width:100%; height:100%; object-fit:cover; border-radius:15px;}
		#galleryContainer > div > div {position:absolute; left:0; right:0; bottom:0; padding:10px; color:white; background:rgba(0,0,0,0.5); border-radius:0px 0px 15px 15px;}
	#galleryContainer #gBack, #galleryContainer #gForward {position:absolute; top:calc(50% - 30px); height:60px; width:60px; border:2px solid white; border-radius:10px; background:rgba(0,0,0,0.5); color:white; cursor:pointer; font-size:20px}
	#galleryContainer #gForward {right:0;}
	#galleryContainer #gBack {left:0;}

	/* USAGE INSTRUCTIONS:
		(1) Put the following div into the file:
			<div class='container'><div id='galleryContainer'></div></div>

		(2) Insert the following: (replace caption_text with none if there's no caption)
			<script> galleryIndex = [];
				galleryIndex[0] = "image_link | caption_text";
				galleryIndex[1] = "image_link | caption_text";
			</script>
			<script src="https://gcparksandresorts.github.io/careawayresort/files/scripts/galleryScript.js"></script>

		(3) All done!
	*/
