* {  box-sizing: border-box; } html { scroll-behavior: smooth; }

body{ 
    font-size:15px; line-height:1.6;
    font-family:verdana; 
    margin:0; margin-top:100px;
    } /* --End of Body -- */

/* ------ PAGE CONTENT ELEMENTS ----------------- */
.banner{width:100%; margin:0; height:400px;}
	.banner img{width:100%; height:100%; object-fit:cover;}

.container, .leftContainer {margin:auto; margin-top:40px; margin-bottom:40px; padding:10px; width:full; display:block; max-width:1200px; text-align:center;}

	.leftContainer{text-align:left;}

	.container.filled, .leftContainer.filled {
		background:midnightblue; border-radius:20px;
		color:white;
	}
	@media screen and (max-width:1200px){
		.container.filled, .leftContainer.filled {margin:40px 10px 40px 10px;}
	}


/* --- Titles and stuff ----- */
.titleBar{width:100%; padding:20px 10px 20px 10px; color:white; background:midnightblue; color:white;}

/* -- UI Elements -- */

a.btn{
	padding:10px; margin:10px; border:solid 2px midnightblue; border-radius:10px;
	transition:0.5s; cursor:pointer; color:midnightBlue;
}
	a.btn:hover{background:midnightblue; color:white;}

	a.btn.filled{
		border:solid 2px white; color:white;
	}
	a.btn.filled:hover{background:white; color:midnightBlue;}
